@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --webkit-font-smoothing: antialiased;
}

html {
  height: 100vh !important;
}

.root {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas:
    "nav header"
    "nav content";
  min-height: 100vh !important;
}
