@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas:
    "nav header"
    "nav content";
}
